*
!.gitignore
!pom.xml
!GenerationFesabilityTester
!jar-deploy-service
!GenerationFesabilityTester/src
!GenerationFesabilityTester/src/**
!jar-deploy-service/src
!jar-deploy-service/src/**
!GenerationFesabilityTester/*.jar
!GenerationFesabilityTester/pom.xml
!jar-deploy-service/pom.xml
!common
!common/src
!common/src/**
!common/pom.xml
!ITRGeneratorMock
!ITRGeneratorMock/src
!ITRGeneratorMock/src/**
!ITRGeneratorMock/pom.xml
!ITRGeneratorMock/*.jar
!tester-client
!tester-client/src
!tester-client/src/**
!tester-client/pom.xml
